In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df_colors = pd.read_csv('./data/colors.csv')

In [5]:
df_colors.head()

   id            name     rgb is_trans
0  -1         Unknown  0033B2        f
1   0           Black  05131D        f
2   1            Blue  0055BF        f
3   2           Green  237841        f
4   3  Dark Turquoise  008F9B        f